* {
  box-sizing: border-box;
}
:root {
  --main-bg-color: #74b9ff;
  --main-text-color: #1b3658;
  --main-border-color: rgba(104, 120, 148, 0.56);
}

body {
  color: var(--main-text-color);
  line-height: 1.6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  height: 100%;
}
#bg {
  position: absolute;
  z-index: -1;
  background-color: var(--main-bg-color);
  height: 100%;
  width: 100vw;
}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 2em 0 2em;
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
  margin: 0;
}

.brand span {
  color: #fff;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper > * {
  padding: 1em;
}

.company-info {
  background: var(--main-border-color);
}
.company-info,
.contact,
.wrapper {
  min-width: 300px;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact {
  background: #f9feff;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  margin: 1em 0;
}

button,
input,
textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid var(--main-border-color);
}
::placeholder {
  font-style: italic;
  color: rgb(197, 197, 197);
}

/* LARGE SCREENS */
@media (max-width: 700px) {
  #bg {
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
  }
}
@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  #bg {
    clip-path: polygon(0 0, 86% 0, 47% 100%, 0% 100%);
  }
  .wrapper > * {
    padding: 2em;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}
td,
th {
  border: 1px solid #dddddd;
  padding: 8px;
}

button {
  color: white;
  border: 1px solid black;
  display: block;
  background: linear-gradient(to right, var(--main-border-color) 50%, #b1b1b1 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  cursor: not-allowed;
}

.fullbtn {
  color: black;
  background-position: left bottom;
  cursor: pointer;
}
.ip em {
  text-decoration: underline;
  color: white;
}
.ip p {
  margin: 0;
}
.head {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.head h1 {
  margin-right: 1em;
}
.head img {
  height: 50px;
}
a {
  color: var(--main-text-color);
}
